.breadcrumbs {
  margin-bottom: 5px;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      position: relative;
      display: inline-block;
      margin-right: 10px;
      font-size: 13px;
      color: $font-color;
      text-decoration: none;
      transition: color 0.2s ease-in-out;

      &:after {
        content: '/';
        position: absolute;
        right: -3px;
        transform: translateX(100%);
        color: $font-color;
        font-size: 13px;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      &:hover:not(div) {
        color: $active-color;
        text-decoration: none;
      }
    }
  }
}
