.button {
  display: inline-block;
  height: 40px;
  padding: 5px 16px;
  box-shadow: none;
  border: 0;
  font-weight: bold;
  font-size: $font-size;
  line-height: 1.2;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &--cancel {
    border: 1px solid #c7c7c7;
    border-radius: 20px;
    background: transparent;
    color: $font-color;

    &:hover {
      background: $active-color;
      color: #fff;
      border-color: $active-color;
    }
  }

  &--apply {
    background: $active-color;
    border-radius: 20px;
    color: #fff;

    &:hover {
      background: lighten($active-color, 15%);
    }
  }

  &--back {
    font-weight: bold;
    font-size: $font-size;
    color: $font-color;
    background: transparent;
    padding: 0;
    margin-top: auto;

    .button__icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 1px solid #c7c7c7;
      border-radius: 50%;
      background: #fff;

      img {
        width: 24px;
        height: 12px;
      }
    }

    &:hover {
      .button__icon {
        background: #ddd;
        border-color: #ddd;
      }
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out;

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}
