.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
  cursor: pointer;

  input {
    display: none;

    &:checked + .checkbox__checkmark:after {
      opacity: 1;
    }
  }

  &__checkmark {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 3px;
    border: 2px solid #c7c7c7;
    border-radius: 50%;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 8px;
      height: 8px;
      background: $active-color;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      border-radius: 50%;
    }
  }

  &__description {
    width: calc(100% - 32px);
    font-weight: bold;
    font-size: $font-size;

    @media (max-width: $breakpoint-tablet) {
      width: calc(100% - 24px);

      br {
        display: none;
      }
    }

    small {
      display: block;
      margin-top: 6px;
      font-weight: 500;
      font-size: $font-size;
      color: $font-secondary-color;
      line-height: 1.5;

      @media (max-width: $breakpoint-tablet) {
        margin-top: 3px;
        line-height: 1.3;
      }
    }
  }
}
