.content {
  width: calc(100% - #{$sidebar-width} - #{$gap-between-sidebar-and-content});
  padding: 20px;
  background: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 20px;

  @media (max-width: $container-width) {
    width: calc(
      100% - #{$sidebar-width-tablet} - #{$gap-between-sidebar-and-content}
    );
  }

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
  }
}
