.container {
  width: 100%;
  max-width: $container-width;
  padding: 0 $container-gutter;
  margin: 0 auto;

  @media (max-width: $breakpoint-desktop) {
    max-width: $container-width-tablet;
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 0 $container-gutter-mobile;
    max-width: $container-width-mobile;
  }
}
