.form {
  &--flex {
    display: flex;
    flex-direction: column;
  }

  &__category {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    &-title {
      width: calc(40% - 20px);
      font: 500 11px $font-family;
      text-transform: uppercase;

      @media (max-width: $container-width) {
        width: calc(30% - 20px);
      }

      @media (max-width: $breakpoint-tablet) {
        width: 100%;
        margin-bottom: 15px;
      }
    }

    &-options {
      width: calc(60% - 20px);

      @media (max-width: $container-width) {
        width: calc(70% - 20px);
      }

      @media (max-width: $breakpoint-tablet) {
        width: 100%;
      }
    }
  }

  &__actions {
    margin-top: 17px;
    margin-left: auto;
  }
}
