.navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: $navbar-height;
  padding: 0 40px;
  background: #fff;
  border-bottom: 1px solid #c7c7c7;
  z-index: 100;

  @media (max-width: $breakpoint-tablet) {
    position: fixed;
  }

  &--opened {
    border: 0;

    .navbar__wrap {
      display: flex;
    }
  }

  &__wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    transition: opacity 0.2s ease-in-out;
    overflow-y: auto;

    @media (max-width: $breakpoint-tablet) {
      position: absolute;
      left: 0;
      top: $navbar-height;
      right: 0;
      flex-direction: column;
      align-items: flex-start;
      justify-content: stretch;
      height: calc(100vh - #{$navbar-height});
      padding: 21px 40px;
      padding-bottom: 32px;
      display: none;
      background: #fff;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      display: inline-block;
      margin-right: 24px;

      @media (max-width: $breakpoint-tablet) {
        display: block;
        margin-right: 0;
        margin-bottom: 24px;
      }

      &--aside {
        margin-left: 36px;

        @media (max-width: $breakpoint-tablet) {
          margin-left: 0;
        }
      }

      a {
        font-weight: bold;
        color: $font-color;
        text-decoration: none;
        line-height: 1.3;
        transition: color 0.2s ease-in-out;

        @media (max-width: $breakpoint-tablet) {
          font-size: 24px;
        }

        &:hover {
          color: $active-color;
          text-decoration: none;
        }
      }
    }
  }

  .user {
    @media (max-width: $breakpoint-tablet) {
      margin-top: auto;
    }
  }

  &__hamburger {
    position: relative;
    display: none;
    margin-left: auto;
    vertical-align: middle;
    cursor: pointer;

    @media (max-width: $breakpoint-tablet) {
      display: block;
    }

    span {
      position: relative;
      width: 16px;
      height: 2px;
      background: $font-color;
      display: block;
      margin-bottom: 4px;
      transition: 0.35s;

      &:nth-child(1) {
        transform-origin: left;
      }

      &:nth-child(2) {
        transform-origin: center;
      }

      &:nth-child(3) {
        margin-bottom: 0;
        transform-origin: left;
      }
    }

    &.navbar__hamburger--active {
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
          left: 1px;
        }

        &:nth-child(2) {
          transform: rotate(315deg);
          right: 2px;
        }

        &:nth-child(3) {
          transform: scaleX(0);
        }
      }
    }
  }
}
