.notifications {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 16px;
  width: 100%;
  max-width: 600px;
  z-index: 90;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
    padding: 12px 18px;
    background: #1c1e20;
    border-radius: 50px;

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      margin-right: 15px;
      font-weight: bold;
      font-size: 13px;
      color: #fff;
      line-height: 1.3;
    }

    &-close {
      padding: 0;
      border: 0;
      box-shadow: none;
      background: transparent;
      cursor: pointer;
      transition: opacity 0.2s ease-in-out;

      &:hover {
        opacity: 0.7;
      }

      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
  }
}
