.page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: $page-top-offset;

  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 48px;

    @media (max-width: $breakpoint-tablet) {
      margin-bottom: 40px;
    }

    &-aside {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: $sidebar-width;

      @media (max-width: $container-width) {
        width: $sidebar-width-tablet;
      }

      @media (max-width: $breakpoint-tablet) {
        width: 100%;
        margin-bottom: 32px;
      }
    }

    &-content {
      width: calc(
        100% - #{$sidebar-width} - #{$gap-between-sidebar-and-content}
      );

      @media (max-width: $container-width) {
        width: calc(
          100% - #{$sidebar-width-tablet} - #{$gap-between-sidebar-and-content}
        );
      }

      @media (max-width: $breakpoint-tablet) {
        width: 100%;
      }
    }
  }

  &__title {
    margin-bottom: 48px;

    &--no-bottom-margin {
      margin-bottom: 0;
    }
  }
}
