.tabs {
  padding: 20px;
  background: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 20px;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      position: relative;
      margin-bottom: 20px;

      &:before {
        content: '';
        position: absolute;
        left: -20px;
        top: 0;
        bottom: 0;
        width: 2px;
        background: $active-color;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }

      a {
        color: $font-color;
        font-size: $font-size;
        font-weight: bold;
        line-height: 1.3;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
      }

      &--active,
      &:hover {
        &:before {
          opacity: 1;
        }

        a {
          color: $active-color;
          text-decoration: none;
        }
      }
    }
  }
}
