.text-input {
  display: block;
  margin-bottom: 40px;

  &#site-access-password {
    margin-left: 32px;

    @media (max-width: $breakpoint-tablet) {
      margin-left: 24px;
    }
  }

  &.hiden {
    display: none;
  }

  &__title {
    margin-bottom: 2px;
    font-size: 13px;
    font-weight: normal;
  }

  input {
    width: 100%;
    height: 35px;
    border: 0;
    border-bottom: 1px solid #c7c7c7;
    box-shadow: none;
    outline: none;
  }
}
