.user {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
  }

  &__avatar {
    width: 40px;
    height: 40px;

    @media (max-width: $breakpoint-tablet) {
      width: 80px;
      height: 80px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: none;
    width: calc(100% - 96px);

    @media (max-width: $breakpoint-tablet) {
      display: block;
    }
  }

  &__name {
    font-weight: bold;
    line-height: 1.3;
  }

  &__logout {
    display: inline-block;
    margin-top: 8px;
    font-weight: bold;
    color: $active-color;
    text-decoration: none;
    line-height: 1.3;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: lighten($active-color, 15%);
    }
  }
}
