$font-size: 15px;
$font-family: 'Raleway', sans-serif;
$font-weight: normal;
$font-color: #1c1e20;
$font-secondary-color: #818181;

$background-color: #fafafa;
$active-color: #4a1abb;

$container-gutter: 15px;
$container-gutter-mobile: 8px;

$container-width: 1200px + $container-gutter * 2;
$container-width-tablet: 768px + $container-gutter * 2;
$container-width-mobile: 344px + $container-gutter-mobile * 2;

$breakpoint-desktop: $container-width;
$breakpoint-tablet: $container-width-tablet;

$navbar-height: 60px;

$sidebar-width: 300px;
$sidebar-width-tablet: 240px;

$gap-between-sidebar-and-content: 50px;

$page-top-offset: 35px;
