<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <div class="app">
      <div class="navbar">
        <a href="/" class="logo">lite.page</a>

        <div class="navbar__wrap">
          <ul class="navbar__list">
            <li class="navbar__list-item"><a href="#">CRM</a></li>
            <li class="navbar__list-item"><a href="#">Мои сайты</a></li>
            <li class="navbar__list-item"><a href="#">Каталог</a></li>
            <li class="navbar__list-item"><a href="#">Тарифы</a></li>
            <li class="navbar__list-item"><a href="#">Блог</a></li>
            <li class="navbar__list-item navbar__list-item--aside">
              <a href="#">Помощь</a>
            </li>
          </ul>

          <div class="user">
            <div class="user__avatar">
              <img src="assets/user-avatar.png" alt="" />
            </div>

            <div class="user__info">
              <div class="user__name">Артем Городецкий</div>
              <a class="user__logout" href="#">Выйти</a>
            </div>
          </div>
        </div>

        <div class="navbar__hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="container">
        <section class="page">
          <header class="page__header">
            <aside class="page__header-aside">
              <button type="button" class="button button--back">
                <div class="button__icon">
                  <img src="assets/arrow-left.svg" alt="" />
                </div>

                Назад
              </button>
            </aside>

            <div class="page__header-content">
              <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                  <a href="/" class="breadcrumbs__list-item">Главная</a>
                  <a href="#" class="breadcrumbs__list-item">Настройки сайта</a>
                  <div class="breadcrumbs__list-item">Доступ к сайту</div>
                </ul>
              </div>

              <h2 class="page__title page__title--no-bottom-margin">
                Доступ к сайту
              </h2>
            </div>
          </header>

          <aside class="sidebar">
            <div class="tabs">
              <ul class="tabs__list">
                <li class="tabs__list-item"><a href="#">Доступ к сайту</a></li>
                <li class="tabs__list-item"><a href="#">Доступ к сайту</a></li>
                <li class="tabs__list-item"><a href="#">Доступ к сайту</a></li>
                <li class="tabs__list-item tabs__list-item--active">
                  <a href="#">Доступ к сайту</a>
                </li>
                <li class="tabs__list-item"><a href="#">Доступ к сайту</a></li>
                <li class="tabs__list-item"><a href="#">Доступ к сайту</a></li>
                <li class="tabs__list-item"><a href="#">Доступ к сайту</a></li>
                <li class="tabs__list-item"><a href="#">Доступ к сайту</a></li>
                <li class="tabs__list-item"><a href="#">Доступ к сайту</a></li>
                <li class="tabs__list-item"><a href="#">Доступ к сайту</a></li>
                <li class="tabs__list-item"><a href="#">Доступ к сайту</a></li>
                <li class="tabs__list-item"><a href="#">Доступ к сайту</a></li>
              </ul>
            </div>
          </aside>

          <div class="content">
            <h3>
              Настройка доступа к сайту

              <small>Контролируйте, кому доступен ваш сайт</small>
            </h3>

            <form class="form form--flex">
              <div class="form__category">
                <div class="form__category-title">Интернет сайт</div>

                <div class="form__category-options">
                  <label class="checkbox">
                    <input
                      type="radio"
                      name="site-access"
                      value="public"
                      checked
                    />
                    <div class="checkbox__checkmark"></div>
                    <div class="checkbox__description">
                      Опубликовать сайт

                      <small>
                        Доступно при оплаченном тарифном плане&nbsp;<br />
                        и купленном домене
                      </small>
                    </div>
                  </label>

                  <label class="checkbox">
                    <input
                      type="radio"
                      name="site-access"
                      value="password"
                      checked
                    />
                    <div class="checkbox__checkmark"></div>
                    <div class="checkbox__description">
                      Сайт защищен паролем

                      <small>Сайт увидит только тот, у кого есть пароль</small>
                    </div>
                  </label>

                  <label class="text-input hiden" id="site-access-password">
                    <div class="text-input__title">Введите пароль</div>
                    <input
                      type="password"
                      name="password"
                      placeholder="Ваш пароль"
                    />
                  </label>

                  <label class="checkbox">
                    <input
                      type="radio"
                      name="site-access"
                      value="private"
                      checked
                    />
                    <div class="checkbox__checkmark"></div>
                    <div class="checkbox__description">
                      Приватный сайт

                      <small>
                        Только авторы и владелец сайта смогут увидеть сайт
                      </small>
                    </div>
                  </label>
                </div>
              </div>

              <div class="form__actions">
                <div class="button-group">
                  <button type="button" class="button button--cancel">
                    Отменить
                  </button>
                  <button type="submit" class="button button--apply">
                    Сохранить
                  </button>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>

      <div class="notifications"></div>
    </div>
  </body>
</html>
