h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;

  small {
    display: block;
    color: $font-secondary-color;
  }
}

h2 {
  margin-bottom: 48px;
  font: bold 24px $font-family;
  line-height: 1.3;
}

h3 {
  margin-bottom: 40px;
  font: bold 20px $font-family;
  line-height: 1.3;

  small {
    margin-top: 12px;
    font-size: $font-size;
    font-weight: normal;
  }
}
