* {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  line-height: 1.5;
}

.app {
  position: relative;
  padding-top: $navbar-height;
  padding-bottom: 40px;
}
